.nav {
    padding: 1em;
    grid-area: n;
    background-color: rgb(76, 223, 108);
}

.item a {
    color: white;
    text-decoration: none;

    color: white
}

.active a {
    color: rgb(0, 100, 25) !important;
}