.nav {
    padding: 1em;
    grid-area: n;
    background-color: rgb(76, 223, 108);
}

.item {
    color: white;
    text-decoration: none;

    display: block;
}

.active {
    color: rgb(0, 100, 25) !important;
}